<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 399px;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a {
    padding: 20px;
    background: #47a2ea;
    text-decoration: none;
  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <br>
  <p>Nós temos uma requisição de troca de senha para sua conta.</p>

  <div class="btn">
    <a href="{{link}}">Resetar minha senha</a>
  </div>

  <p>Se não foi você, então descarte este email</p>
  <p>Obrigado!</p>
  <strong>Equipe GoBarber</strong>
</div>
